<%= form_for(@toll) do |f| %>
  <% if @toll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toll.errors.count, "error") %> prohibited this toll from being saved:</h2>

      <ul>
      <% @toll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
