<% if @toll %>
    $("#result").html('<div style="color:blue;"><p><%= "Please collect Rs  #{@toll}" %></p></div>');
<% else %>
    $("#result").html('<div style="color:red;"><p><%= @error %></p></div>');
<% end %>