<h1>Listing tolls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tolls.each do |toll| %>
      <tr>
        <td><%= link_to 'Show', toll %></td>
        <td><%= link_to 'Edit', edit_toll_path(toll) %></td>
        <td><%= link_to 'Destroy', toll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toll', new_toll_path %>
